/*****PRIMEFACES*******/
.ui-button {
	font-size: 15px;
}

.ui-table-header-align-left>div>table>tr>th {
	text-align: right;
}

.outLabel {
	color: #317EAC;
	font-size: 15px;
}

.ecuador-iso {
	width: 400px;
	max-width: 100%;
	position: absolute;
	left: -9%;
	top: -2.2%;
	z-index: -1;
}

.colorRed {
	border: 2px solid;
    padding: 5px; 
	color: white;
	font-size: 20px;
	background-color: #FF0000;
}

.colorGreen {
	border: 2px solid;
    padding: 5px; 
	color: white;
	font-size: 20px;
	background-color: #008b00;
	border-bottom-style: 
}

.colorBlack {
	border: 2px solid;
    padding: 5px; 
	color: white;
	font-size: 20px;
	background-color: #000000;
}

.label-justified{
	text-align: justify;
}