/*****PRIMEFACES*******/
.ui-button{
	font-size: 15px;
}

.ui-table-header-align-left > div > table > tr > th {
	text-align: right;
}

.outLabel{
	color: #317EAC;
	font-size: 15px;
}

.ecuador-iso {
	width:400px;
	max-width:100%;
	position: absolute;
	left: -9%;
	top: -2.2%;
	z-index: -1;
}

.colorRed{
	color : red;
}

.colorGreen{
	color : white;
	style="font-weight:bold;
	color:yellow;
	font-size: 20pt;
	background-color:green;
	border: 2px solid green;
    border-radius: 5px;
}

.colorBlack{
	color : black;
	style="font-weight:bold;
	color:yellow;
	font-size: 20pt;
	background-color:red;
	border: 2px solid red;
    border-radius: 5px;
}